.App {
  text-align: center;
  min-height: 100vh; /* Ensures the background covers the viewport */
  background-image: url('./assets/background.png'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  min-height: 70vh;
  padding: 20px;
}

.action-buttons {
  display: flex;
  justify-content: center; /* Horizontally center the buttons */
  align-items: center; /* Vertically align the buttons */
  gap: 30px; /* Adds space between buttons */
  margin: 50px 0; /* Adjust vertical spacing on the page */
  height: 100vh; /* Ensures buttons are centered vertically */
  flex-direction: row; /* Buttons are displayed in a row */
}
.logo {
  height: 50px;
  object-fit: contain;
  justify-content: left;
}


