# Node modules folder
node_modules/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# VS Code specific files
.vscode/

# Other sensitive files (optional)
.idea/
*.swp
