/* AudioPlayerPage.css 
div {
    text-align: center;
    margin-top: 200px;
    color: Blue;


}
audio {
    margin-top: 20px;
    width: 80%;

}*/
/* AudioPlayerPage.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Optional background for better contrast */
    font-family: Arial, sans-serif;
}

div {
    text-align: center;
    color: blue;
}

audio {
    margin-top: 20px;
    width: 80%;
}
