.homepage-container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    color: White;
    font-family: Arial, sans-serif;
}

.homepage-container h1 {
    font-size: 2.5rem;
    color: #007bff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}


.homepage-container p {
    font-size: 2.0rem;
    line-height: 1.5;
    font-style: italic;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.homepage-introduction p {
    margin-top: 40px;
    font-style: italic;
    color: rgb(38, 8, 97);
    font-size: 1.4rem;
    text-align: center;

}
