.custom-button {
    background-color: #ba98eaab;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 25px 50px; 
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 20px; 
    display: inline-block; 
    text-align: center;
}

.custom-button:hover {
    background-color: grey;
}

.custom-button:disabled {
    background-color: #bdbdbd;
    cursor: not-allowed;
}

